<div class="header__container">
    <header>
        <div class="header__body">
            <svg id="mainLogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.66 129.66"><defs><style>.cls-1{fill:#30a150;stroke:#30a150;stroke-width:12.85px;}.cls-1,.cls-2,.cls-3{stroke-miterlimit:10;}.cls-2{fill:none;}.cls-2,.cls-3{stroke:#000;stroke-width:11px;}.cls-3{fill:#fff;}</style></defs><g id="Слой_2" data-name="Слой 2"><circle class="cls-1" cx="64.83" cy="64.83" r="58.4"/></g><g id="Слой_1" data-name="Слой 1"><circle class="cls-2" cx="64.83" cy="64.83" r="50"/><path class="cls-3" d="M272.94,219" transform="translate(-185.17 -185.17)"/><path class="cls-2" d="M267.08,219.47H240.17c-2.26,0-4.11,2.49-4.11,5.54V275.2c0,3.05,1.85,5.54,4.11,5.54h17.35c2.26,0,4.11-2.49,4.11-5.54V240.38" transform="translate(-185.17 -185.17)"/></g></svg>
            <svg class="burger__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" id="Слой_1" version="1.1" xml:space="preserve"><g><rect fill="#1D1D1B" height="1" width="11" x="0.5" y="5.5"/><rect fill="#1D1D1B" height="1" width="11" x="0.5" y="2.5"/><rect fill="#1D1D1B" height="1" width="11" x="0.5" y="8.5"/></g></svg>
            <div class="header__content">

                <nav class="navbar">
                    <div class="control__part">
                        
                    <div class="control__row">
                        <div class="headerBox">
                            <!-- ссылки на статику ведутся относительно папки со статикой -->
                            <a class="controlLink <%if (currentLink=="/") {%>action<%}%>" href="/">Главная</a>                
                            <a class="controlLink <%if (currentLink=="/rules") {%>action<%}%>" href="/rules">Правила</a>
                            <%if (userProfile.logined & userProfile.privilegeLevel >= 50){%>
                                <a class="controlLink <%if (currentLink=="/admin") {%>action<%}%>" href="/admin">Админка</a>
                                <%}%>
                        </div>
                    </div>
                </div>
                
                <!-- В случае, если пользователь залогинен, то отобразить его аватарку и имя -->
                <div class="user__part">
                    <% if (userProfile.logined){%>
                        <section class="toProfile">
                            <svg class="userIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 349.667 349.667" style="enable-background:new 0 0 349.667 349.667;" xml:space="preserve" width="40px" height="40px">
                                <g>
                                    <path d="M174.833,197.204c24.125,0,80.846-29.034,80.846-98.603C255.68,44.145,248.329,0,174.833,0   c-73.495,0-80.846,44.145-80.846,98.602C93.987,168.17,150.708,197.204,174.833,197.204z M106.07,82.146   c5.679-10.983,17.963-23.675,44.381-23.112c0,0,15.746,38.194,93.05,21.042c0.312,6.101,0.41,12.326,0.41,18.526   c0,34.005-15.015,55.075-27.612,66.762c-15.872,14.727-33.494,20.072-41.466,20.072c-7.972,0-25.594-5.345-41.466-20.072   c-12.597-11.687-27.612-32.757-27.612-66.762C105.756,93.101,105.836,87.581,106.07,82.146z"/>
                                    <path d="M324.926,298.327c-4.127-25.665-12.625-58.724-29.668-70.472c-11.638-8.024-52.243-29.718-69.582-38.982l-0.3-0.16   c-1.982-1.059-4.402-0.847-6.17,0.541c-9.083,7.131-19.033,11.937-29.573,14.284c-1.862,0.415-3.39,1.738-4.067,3.521   l-10.733,28.291l-10.733-28.291c-0.677-1.783-2.205-3.106-4.067-3.521c-10.54-2.347-20.49-7.153-29.573-14.284   c-1.768-1.388-4.188-1.601-6.17-0.541c-17.133,9.155-58.235,31.291-69.831,39.107c-19.619,13.217-28.198,61.052-29.718,70.507   c-0.151,0.938-0.063,1.897,0.253,2.792c0.702,1.982,18.708,48.548,149.839,48.548s149.137-46.566,149.839-48.548   C324.989,300.224,325.077,299.264,324.926,298.327z M264.5,282.666l-25.667,8l-25.667-8v-13.81H264.5V282.666z"/>
                                </g>
                            </svg>
                            <p id="profileName"><%=userProfile.name%></p>
                        </section>
                        <a class="exitButton">Выйти</a>
                    <%} else {%>
                        <a class="actionLink" href="/login">Вход</a>                
                        <a class="actionLink" href="/reg">Регистрация</a>
                    <%}%>
                </div>
            </div>
            </nav>
        </div>
    </header>
</div>

<div class="burger closed__burger">
    <div class="container">
        <div class="burger__content">
            <div class="burger__control__row">

                <a class="burger__control__link" href="/">Главная
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 330.242 330.242" style="enable-background:new 0 0 330.242 330.242;" xml:space="preserve"  width='30px' height='30px'>
                        <path d="M324.442,129.811l-41.321-33.677V42.275c0-6.065-4.935-11-11-11h-26c-6.065,0-11,4.935-11,11v14.737l-55.213-44.999  c-3.994-3.254-9.258-5.047-14.822-5.047c-5.542,0-10.781,1.782-14.753,5.019L5.8,129.81c-6.567,5.351-6.173,10.012-5.354,12.314  c0.817,2.297,3.448,6.151,11.884,6.151h19.791v154.947c0,11.058,8.972,20.053,20,20.053h62.5c10.935,0,19.5-8.809,19.5-20.053  v-63.541c0-5.446,5.005-10.405,10.5-10.405h42c5.238,0,9.5,4.668,9.5,10.405v63.541c0,10.87,9.388,20.053,20.5,20.053h61.5  c11.028,0,20-8.996,20-20.053V148.275h19.791c8.436,0,11.066-3.854,11.884-6.151C330.615,139.822,331.009,135.161,324.442,129.811z" fill="inherit"/>
                    </svg>
                </a>
                <hr class="burger__horizontal__line">
                <a class="burger__control__link" href="/rules">Правила
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 489.9 489.9" style="enable-background:new 0 0 489.9 489.9;" xml:space="preserve" width="30px" height="30px">
                        <g>
                            <g>
                                <g>
                                    <path d="M131.75,409.1c-28.8,0-52.1,18.3-52.1,40.4c0,22.6,23.3,40.4,52.1,40.4h278.4c-22.6-24.1-22.6-56.8,0-80.9h-278.4V409.1z" fill="inherit"/>
                                    <path d="M120.15,1.9c-23.3,7-40.4,32.7-40.4,63.8v342.2c10.5-9.3,24.9-15.9,40.4-17.9V1.9z" fill="inherit"/>
                                    <polygon points="244.95,0 244.95,99.2 204.85,73.9 164.85,99.2 164.85,0 139.95,0 139.95,388.9 410.25,388.9 410.25,0" fill="inherit"/>
                                </g>
                            </g>
                        </g>
                        </svg>
                </a>
                <hr class="burger__horizontal__line">
                <%if (userProfile.logined & userProfile.status == 'Admin'){%>
                    <a class="burger__control__link" href="/admin">Админка
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 267.5 267.5" style="enable-background:new 0 0 267.5 267.5;" xml:space="preserve" width="30px" height="30px">
                        <path d="M256.975,100.34c0.041,0.736-0.013,1.485-0.198,2.229l-16.5,66c-0.832,3.325-3.812,5.663-7.238,5.681l-99,0.5
                        c-0.013,0-0.025,0-0.038,0H35c-3.444,0-6.445-2.346-7.277-5.688l-16.5-66.25c-0.19-0.764-0.245-1.534-0.197-2.289
                        C4.643,98.512,0,92.539,0,85.5c0-8.685,7.065-15.75,15.75-15.75S31.5,76.815,31.5,85.5c0,4.891-2.241,9.267-5.75,12.158
                        l20.658,20.814c5.221,5.261,12.466,8.277,19.878,8.277c8.764,0,17.12-4.162,22.382-11.135l33.95-44.984
                        C119.766,67.78,118,63.842,118,59.5c0-8.685,7.065-15.75,15.75-15.75s15.75,7.065,15.75,15.75c0,4.212-1.672,8.035-4.375,10.864
                        c0.009,0.012,0.02,0.022,0.029,0.035l33.704,45.108c5.26,7.04,13.646,11.243,22.435,11.243c7.48,0,14.514-2.913,19.803-8.203
                        l20.788-20.788C238.301,94.869,236,90.451,236,85.5c0-8.685,7.065-15.75,15.75-15.75s15.75,7.065,15.75,15.75
                        C267.5,92.351,263.095,98.178,256.975,100.34z M238.667,198.25c0-4.142-3.358-7.5-7.5-7.5h-194c-4.142,0-7.5,3.358-7.5,7.5v18
                        c0,4.142,3.358,7.5,7.5,7.5h194c4.142,0,7.5-3.358,7.5-7.5V198.25z" fill="inherit"/>
                        <g>
                        </svg>
                    </a>
                    <hr class="burger__horizontal__line">
                    <%}%>
                </div>
                
            <div class="burger__user__part">
                <% if (userProfile.logined){%>
                    <a class="burger__action__link" href="/profile">Профиль
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" width="30px" heigth="30px">
                            <g>
                                <g>
                                    <g>
                                        <path d="M460.803,65.26H51.197C22.967,65.26,0,88.228,0,116.457v279.084c0,28.23,22.967,51.197,51.197,51.197h409.605     c28.23,0,51.197-22.967,51.197-51.197V116.457C512,88.228,489.033,65.26,460.803,65.26z M460.803,409.568H51.197     c-7.733,0-14.025-6.292-14.025-14.025V116.457c0-7.733,6.292-14.025,14.025-14.025h409.605c7.733,0,14.025,6.292,14.025,14.025     v279.086h0.001C474.828,403.276,468.536,409.568,460.803,409.568z" fill="inherit"/>
                                        <path d="M237.413,130.854H81.291c-10.264,0-18.586,8.322-18.586,18.586v213.119c0,10.264,8.322,18.586,18.586,18.586h156.122     c10.264,0,18.586-8.322,18.586-18.586V149.44C255.999,139.175,247.679,130.854,237.413,130.854z M218.827,312.423     c-14.122-16.437-35.043-26.863-58.413-26.863c-24.572,0-46.439,11.523-60.537,29.446v-146.98h118.95V312.423z" fill="inherit"/>
                                        <path d="M439.004,130.854h-147.18c-10.264,0-18.586,8.322-18.586,18.586v66.561c0,10.264,8.322,18.586,18.586,18.586h147.18     c10.264,0,18.586-8.322,18.586-18.586V149.44C457.59,139.175,449.269,130.854,439.004,130.854z M420.418,197.415H310.41v-29.389     h110.008V197.415z" fill="inherit"/>
                                        <path d="M439.004,295.649h-147.18c-10.264,0-18.586,8.322-18.586,18.586s8.322,18.586,18.586,18.586h147.18     c10.264,0,18.586-8.322,18.586-18.586S449.269,295.649,439.004,295.649z" fill="inherit"/>
                                        <path d="M439.004,343.973h-147.18c-10.264,0-18.586,8.322-18.586,18.586s8.322,18.586,18.586,18.586h147.18     c10.264,0,18.586-8.322,18.586-18.586S449.269,343.973,439.004,343.973z" fill="inherit"/>
                                        <path d="M439.004,247.326h-147.18c-10.264,0-18.586,8.322-18.586,18.586c0,10.264,8.322,18.586,18.586,18.586h147.18     c10.264,0,18.586-8.322,18.586-18.586C457.59,255.648,449.269,247.326,439.004,247.326z" fill="inherit"/>
                                        <circle cx="159.356" cy="237.355" r="27.205" fill="inherit"/>
                                    </g>
                                </g>
                            </g>
                            </svg>
                    </a>
                    <hr class="burger__horizontal__line">
                    <a class="burger__action__link burger__exit__button">Выйти
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 188.832 188.832" style="enable-background:new 0 0 188.832 188.832;" xml:space="preserve" width="30px" height="30px">
                            <path d="M174.936,7.5v173.832c0,4.142-3.357,7.5-7.5,7.5h-17.049c-4.143,0-7.5-3.358-7.5-7.5V32.048H71.375  l48.963,12.193c3.342,0.833,5.688,3.834,5.688,7.278v113.813c0,3.576-2.524,6.654-6.03,7.354l-80.014,15.986  c-0.019,0.004-0.038,0.008-0.057,0.011l-0.01,0.002c-0.044,0.009-0.088,0.012-0.131,0.02c-0.196,0.035-0.393,0.069-0.593,0.088  c-0.249,0.025-0.497,0.038-0.745,0.038H21.396c-4.143,0-7.5-3.358-7.5-7.5V7.5c0-4.142,3.357-7.5,7.5-7.5h146.04  C171.579,0,174.936,3.358,174.936,7.5z" fill="inherit"/>
                            </svg>
                    </a>
                <%} else {%>
                    <a class="burger__action__link" href="/login">Вход
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.31 31.31" style="enable-background:new 0 0 31.31 31.31;" xml:space="preserve" width="30px" height="30px">
                            <g>
                                <path d="M15.658,0c-4.281,0-7.756,3.473-7.756,7.75c0,3.031,1.747,5.656,4.282,6.934v3.506c0,0,2.756,0.219,2.756,1.906   c0,1.172-1.418,1.646-2.232,2.109c-0.355,0.203-1.158,0.639-0.014,1.234c0.611,0.326,2.174,0.713,2.174,2.232   c0,1.525-2.535,2.252-2.535,2.252l3.385,3.387l3.408-3.406v-13.22c2.537-1.277,4.283-3.902,4.283-6.934   C23.408,3.473,19.934,0,15.658,0z M10.041,6.814c0.51-2.634,2.83-4.628,5.617-4.628c2.785,0,5.104,1.994,5.613,4.629h-11.23V6.814z" fill="inherit"/>
                            </g>
                            </svg>
                    </a>
                    <hr class="burger__horizontal__line">                
                    <a class="burger__action__link" href="/reg">Регистрация
                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 -64 640 640"><path d="M434.7 64h-85.9c-8 0-15.7 3-21.6 8.4l-98.3 90c-.1.1-.2.3-.3.4-16.6 15.6-16.3 40.5-2.1 56 12.7 13.9 39.4 17.6 56.1 2.7.1-.1.3-.1.4-.2l79.9-73.2c6.5-5.9 16.7-5.5 22.6 1 6 6.5 5.5 16.6-1 22.6l-26.1 23.9L504 313.8c2.9 2.4 5.5 5 7.9 7.7V128l-54.6-54.6c-5.9-6-14.1-9.4-22.6-9.4zM544 128.2v223.9c0 17.7 14.3 32 32 32h64V128.2h-96zm48 223.9c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zM0 384h64c17.7 0 32-14.3 32-32V128.2H0V384zm48-63.9c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16c0-8.9 7.2-16 16-16zm435.9 18.6L334.6 217.5l-30 27.5c-29.7 27.1-75.2 24.5-101.7-4.4-26.9-29.4-24.8-74.9 4.4-101.7L289.1 64h-83.8c-8.5 0-16.6 3.4-22.6 9.4L128 128v223.9h18.3l90.5 81.9c27.4 22.3 67.7 18.1 90-9.3l.2-.2 17.9 15.5c15.9 13 39.4 10.5 52.3-5.4l31.4-38.6 5.4 4.4c13.7 11.1 33.9 9.1 45-4.7l9.5-11.7c11.2-13.8 9.1-33.9-4.6-45.1z" fill="inherit"/></svg>
                    </a>
                <%}%>
            </div>
        </div>
    </div>
</div>
