<header>
    <div class="container">
    <nav style="display:flex" class="navbar">

            <img src="./allImg/logo.png" alt="logo.jpg" id="mainLogo">
            
            <div class="headerBox">
                <!-- ссылки на статику ведутся относительно папки со статикой -->
                <a class="controlLink <%if (currentLink=="/") {%>action<%}%>" href="/api/">Главная</a>                
                <a class="controlLink <%if (currentLink=="/rules") {%>action<%}%>" href="/api/rules">Правила</a>
            </div>
            
            <!-- В случае, если пользователь залогинен, то отобразить его аватарку и имя -->
            <% if (logined){%>
                <img src="#" alt="avatar.jpg">
                <p id="profileName"><%=profileName%></p>
            <%} else {%>
                <a class="actionLink" href="/api/login">Вход</a>                
                <a class="actionLink" href="/api/reg">Регистрация</a>
            <%}%>
        </nav>
    </div>
</header>
