<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=headTitle%></title>

    <!-- шрифты -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="./allImg/logo.png" type="image/x-icon">

    <!-- Путь к CSS ведется относительно папки, указанной в express.static -->
    <% for (let i of cssList){%>
        <link rel="stylesheet" type="text/css" href="<%=i%>"> 
    <%}%>
</head>
