<header>
    <div class="container">
        <nav style="display:flex" class="navbar">
            <img src="./allImg/logo.png" alt="logo.jpg" id="mainLogo">
            <div class="control__row">
                <div class="headerBox">
                    <!-- ссылки на статику ведутся относительно папки со статикой -->
                    <a class="controlLink <%if (currentLink=="/") {%>action<%}%>" href="/api/">Главная</a>                
                    <a class="controlLink <%if (currentLink=="/rules") {%>action<%}%>" href="/api/rules">Правила</a>
                    <%if (userProfile.logined & userProfile.status == 'Admin'){%>
                        <a class="controlLink <%if (currentLink=="/admin") {%>action<%}%>" href="/api/admin">Админка</a>
                    <%}%>
                </div>
                
                <!-- В случае, если пользователь залогинен, то отобразить его аватарку и имя -->
                <div class="user__part">
                    <% if (userProfile.logined){%>
                        <section class="toProfile">
                            <img src="<%= userProfile.status == 'Admin'? "./icons/admin.png" : "./icons/user.png"%>" class="userIcon" alt="avatar.jpg">
                            <p id="profileName"><%=userProfile.name%></p>
                        </section>
                        <a class="exitButton" href="#">Выйти</a>
                        
                    <%} else {%>
                        <a class="actionLink" href="/api/login">Вход</a>                
                        <a class="actionLink" href="/api/reg">Регистрация</a>
                    <%}%>
                </div>
            </div>
        </nav>
    </div>
</header>
