<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 

<body>
    <div class="wrapper">

    <%- include('./partials/header')%>

    <div class="container mainContainer">
        <div class="main__title">
            <h1 class="users__title">Пользователи</h1>
            <button class="create__new__user">+</button>
        </div>
        <template>
                <section>
                    <h2 class="title">ID:</h2>
                    <p style="display: none;" class="userId"></p>
                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="Capa_1 copy__id__svg" x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve" width="35px" height="35px">
                        <g>
                            <path d="M35,270h45v45c0,8.284,6.716,15,15,15h200c8.284,0,15-6.716,15-15V75c0-8.284-6.716-15-15-15h-45V15   c0-8.284-6.716-15-15-15H35c-8.284,0-15,6.716-15,15v240C20,263.284,26.716,270,35,270z M280,300H110V90h170V300z M50,30h170v30H95   c-8.284,0-15,6.716-15,15v165H50V30z"/>
                            <path d="M155,120c-8.284,0-15,6.716-15,15s6.716,15,15,15h80c8.284,0,15-6.716,15-15s-6.716-15-15-15H155z"/>
                            <path d="M235,180h-80c-8.284,0-15,6.716-15,15s6.716,15,15,15h80c8.284,0,15-6.716,15-15S243.284,180,235,180z"/>
                            <path d="M235,240h-80c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h80c8.284,0,15-6.716,15-15C250,246.716,243.284,240,235,240z   "/>
                        </g>
                    </svg>
                </section>
                <section>
                    <h2 class="title">Имя:</h2>
                    <p class="userName"></p>
                </section>
                <section>
                    <h2 class="title">Почта:</h2>
                    <p class="userMail"></p>
                </section>
                <section>
                    <h2 class="title">Счёт:</h2>
                    <p class="userCoins"></p>
                </section>
                <section>
                    <h2 class="title">Статус:</h2>
                    <p class="userStatus"></p>
                </section>
                <hr class="horizontalLine finalLine">
                <section>
                    <button class="changeButton">Изменить</button>
                    <button class="deleteButton">Удалить</button>
                </section>
        </template>
    </div>
    <div id="popup" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <div class="popup__title">Создать нового пользователя</div>
                <div class="popup__form">
                    <form action="">
                        <label for="name">
                            <p class="inputTitle">Имя:</p>
                            <input name="name" type="text">
                        </label>
                        <label for="mail">
                            <p class="inputTitle">Почта:</p>
                            <input name="mail" type="mail">
                        </label>
                        <label for="coins">
                            <p class="inputTitle">Счет:</p>
                            <input name="coins" type="number">
                        </label>
                        <label for="status">
                            <p class="inputTitle">Статус:</p>
                            <select class="status" name="status">
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </label>
                        <label for="password">
                            <p class="inputTitle">Пароль:</p>
                            <input name="password" type="password">
                        </label>
                        <label for="rePassword">
                            <p class="inputTitle">Повтор пароля:</p>
                            <input name="rePassword" type="password">
                        </label>
                        <hr class="horizontalLine popupLine">
                        <section>
                            <button class="popup__send__button" type="submit">Отправить</button>
                            <button class="popup__close__button">Отмена</button>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%-include('./partials/scripts')%>
    </div>
</body>
</html>