<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>
<body>
    <%-include('./partials/header')%>
    <h1 class="title">Тут ничего нет! Возвращайся на <label>главную!</label></h1>

    <%-include('./partials/scripts')%>
</body>
</html>