<!DOCTYPE html>
<html lang="en">

<%- include('.partials/head') %> 

<body>
<!-- Страница с профилем игрока, где находится вся его статистика -->
    <%-include('./partials/header')%>
    <h1>Profile</h1>

</body>
</html>