<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head')%>

<body>
    <div class="wrapper">

    <%-include('./partials/header')%>
    <div class="container">
        <div class="rules__body">
            <h1 class="rules__title">Правила</h1>
            <ol>
                <li>На ход даётся 20сек. Не успел - ход переходит противнику. </li>
                <li>За каждую открытую букву к счету добавляются 50 очков.</li>
                <li>За победу начисляется 150 очков, за проигрыш 150 очков снимаются.</li>
            </ol>
            <p class="getLucky">Удачной игры!</p>
        </div>
    </div>
    
    <%-include('./partials/scripts')%>
    </div>
</body>
</html>