<!DOCTYPE html>
<html lang="en">

    <%-include('./partials/head')%>

<body>
    <%-include('./partials/header')%>
    <div class="container">
        <h1>Правила</h1>
        <ul>
            <li>На ход даётся 20сек. Не успел - ход переходит противнику. </li>
            <li>За каждую открытую букву к счету добавляется 50 очков.</li>
            <li>За победу начисляется 150 очков, за проигрыш 150 снимается.</li>
        </ul>
        <p>Удачной игры!</p>
    </div>
    
    <%-include('./partials/scripts')%>
</body>
</html>