section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 4%;
}

/* li */
li{
    line-height: 1.5;
    /* margin-bottom: 40px; */
    list-style-type: none;
    border: 5px solid #34AF56;
    
    border-radius: 20px;
    width: 100%;
    max-width: 560px;
    /* max-width: 600px; */

    margin-bottom: 3%;
    padding: 0.3%;
    padding-left: 0px;

    position: relative;
}

li::before{
    /* transition: all 2s linear 1s; */
    font-size: 40px;
    content: '♕';
    position: absolute;
    left: -10%;
    color: #34AF56;
    opacity: 0;
    text-shadow: 0px 0px 7px #34AF56; 
}

.liStyle::before{
    opacity: 1;
}

/* text */
ul h2{
    color:#34AF56;
    /* margin-right: 20px; */
    font-size: 35px;
}

ul p{
    font-size: 30px;
}


/* button */
input,.popup__form select,.create__new__user, select.userStatus, 
.saveButton, .cancelButton,.changeButton, .deleteButton,
.popup__send__button, .popup__close__button{
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 2px 10px;
    border: 3px solid #34AF56;
    outline: none;
    transition: border 0.3s linear;
    width: 100%;
    max-width: 450px;
    /* margin-bottom: 20px; */
}

/* input */
input{
    height: 30px;
}

input:focus, select.status:focus{
    box-shadow: 0px 0px 10px #34AF56;
}


/* buttons */
.changeButton, .deleteButton, .saveButton, .cancelButton,
.popup__send__button, .popup__close__button{
    padding: 1.5% 5%;
    cursor: pointer;
    transition: all 0.3s linear;
    background-color: #34AF56;
    margin-bottom: 20px;
}

.create__new__user{
    /* padding: 1.5% 5%; */
    padding: 1.5%;
    width: 10%;
    cursor: pointer;
    transition: all 0.3s linear;
    background-color: #34AF56;
    margin-bottom: 20px;
}

.deleteButton{
    background-color: inherit;
    border: 3px solid #c72323;
    color: #c72323
}

.deleteButton:hover, .deleteButton:focus{
    box-shadow: 0px 0px 10px #c72323;
    text-shadow: 0px 0px 3px #c72323;
}

.changeButton:hover,.create__new__user:hover,.saveButton:focus, 
.cancelButton:focus,.saveButton:hover, .cancelButton:hover,  
.changeButton:focus,.popup__send__button:focus, .popup__close__button:hover,
.popup__send__button:hover, .popup__close__button:focus{
    color: white;
    box-shadow: 0px 0px 10px #34AF56;
}

/* hr */
.horizontalLine{
    border: 3px solid #34AF56;
    width: 100%;
}

.finalLine{
    margin-bottom: 20px;
}

/* main__title */
.main__title{
    margin: 0;
    display: flex;
    justify-content: space-between;

    text-align: center;
    width: 100%;
    max-width: 560px;

    margin-bottom: 5%;
    
}

.users__title, .create__new__user{
    margin: auto 0;
}


/* popup */
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    transition: all 0.8s ease 0s;
    visibility: hidden;
    opacity: 0;
}

.popup__body{
    /* min-height: 100%; */
    margin-top: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content{
    border: 5px solid #34AF56;
    border-radius: 20px;
    background-color: #202020;
    color: #34AF56;
    max-width: 800px;
    padding: 20px 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;

    /* простое перемещение объекта */
    /* transform: translate(0px, -100%); */

    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__title{
    font-size: 40px;
    margin: 0px 0px 1em 0px;
    text-decoration: underline;
}

.popup__form label{
    display: flex;
    margin-bottom: 20px;
}

.popup__form label p{
    margin-right: auto;
}

.popup__form label input, .popup__form label .status{
    margin: auto 0;
    width: 100%;
    max-width: 300px;
}
.popup__form label .status{
    width: 550px;
}


.popup__form form p{
    font-size: 35px;
}

.popupLine{
    border-radius: 20px;
    margin-bottom: 20px;
}


ul{
    width: 100%;
    max-width: 560px;
}

.mainContainer{
    width: 100%;
    max-width: 560px;
}


.users__title{
    font-size: 60px;
    color: #34AF56;
}


.users__title::after{
    content: '';
    border: 3px solid #34AF56;
    
    border-radius: 20px;    
    display: block;
    width: 0%;
    
    opacity: 0;
    transition: all 2s ease 1s;
}

.titleStyle::after{
    width: 100%;
    opacity: 1;
}