footer{
    padding-top: 2%;
    background-color: inherit;
    width: 100%;

    height: 100%;
    position: absolute;
    left: 0;

    bottom: 0;
}

.footer__link::after{
    display: none;
}

.footer__body{
    justify-content: space-between;
    display: flex;
    fill: #000;

    width: 100%;
    padding: 0 2%;
}

.footer__logo{
    max-width: 70px;
    width: 100%;
}

.svg__icon{
    margin: auto 0;
    max-width: 100px;
    fill: inherit;

    fill: #fff;
    transition: all .5s ease 0s;
    position: absolute;
}


.telegram__link{
    left: 6%;
}
.telegram__svg:hover{
    fill: rgb(37, 163, 205);
}

.github__link{
    left: 27%;
}

.gh__svg:hover{
    fill: rgb(126, 32, 82);
}

.steam__link{
    left: 48%
}

.steam__svg:hover{
    fill: rgb(58, 64, 166);
}

.footer__links__content{
    position: relative;

    width: 100%;
    height: 100%;
    max-height: 200px;
}

.footer__links{
    width: 100%;
    max-width: 400px;

}

.footer__title, .signature__title{
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
}


.footer__title{
    max-width: 330px;
}

.signature__title{
    max-width: 100px;
}


.footer__title::after, .signature__title::after{
    content: '';
    display: flex;
    background-color: #34AF56;

    width: 100%;
    /* max-width: 95px; */
    border-radius: 20px;

    border: 4px solid #34AF56;
    margin-bottom: 5%;
}

.footer__title::after{
    /* max-width: 320px; */
}

.signature__text{
    font-size: 1.5rem;
    color: #fff;
    font-style: italic;

    font-weight: 600;
}

.footer__container{
    height: 235px;
    min-height: 0;
    position: relative;

    background-color: inherit;
    margin: 0 auto;
    margin-top: 10%;

    padding: 0;
    width: 100%;
    max-width: 80vw;

    min-width: 1100px;
}


.server__message{
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50%);

    z-index: 1000;
}

.server__message__correct, .server__message__wrong, .server__message__choose{
    background-color: rgb(54, 33, 42);
    margin: 0 auto;
    width: 100%;

    display: none;
    max-width: 40vw;
    padding: 1%;

    font-size: 10vw;
    min-width: 250px;

    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    min-height: 70px;
}

.server__message__icon, .server__message__question__icon{
    width: 100%;
    height: 100%;
    margin: auto 0;

    max-width: 35px;
    max-height: 35px;
    margin-right: 5%;
}

.server__message__question__icon{
    max-width: 30px;
    max-height: 40px;
}

.server__message__content{
    display: flex;
}

.server__message__showed{
    transition: all 1s ease 0s;
    animation: show__server__message 0.3s 1 forwards cubic-bezier(.07,.53,.08,.96) 0s;
}

@keyframes show__server__message {
    from{
        opacity: 0;
        transform: translate(0, -50%);
        visibility: hidden;
    }
    to{
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
    }
}

.server__message__closed{
    transition: all 1s ease 0s;
    animation: close__server__message 1s 1 forwards cubic-bezier(.33,.09,.62,1.06) 0s;
}

@keyframes close__server__message {
    from{
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
    }
    to{
        opacity: 0;
        transform: translate(0, -50%);
        visibility: hidden;
    }
}

.server__message__text{
    color: #fff;
    font-weight: 600;
    margin: 0 auto;

    text-align: center;
    font-size: 1.5vw;
}

.server__message__correct{
    text-align: left;
    background-color: #279f35;
    box-shadow: 0px 0px 10px #21822c;
}

.server__message__wrong{
    background-color: rgb(182, 72, 72);
    box-shadow: 0px 0px 10px rgb(143, 57, 57);
}

.server__message__question__content{
    display: block;
}

.server__message__choose__title{
    display: flex;
    height: 100px;
}

.server__message__choose__body{
    display: flex;
    justify-content: space-between;
}

.question__text{
    margin: auto auto;
    padding: 0 5%;
}

.question__line{
    border: 4px solid #34AF56;
    border-radius: 20px;
    margin-bottom: 2%;

    width: 0%;
    opacity: 0;
    visibility: hidden;

    animation: line__paint 1s 1 forwards ease 1s;
}

@keyframes line__paint {
    from {
        width: 0;
        opacity: 0;
        visibility: hidden;
    }
    to {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }
}

.server__message__button{
    width: 100%;
    height: 60px;
    max-width: 200px;

    border-radius: 20px;
    padding: 1.5% 0;
    cursor: pointer;

    background-color: inherit;
    transition: all 0.5s ease 0s;
}

.server__agree__button{
    color: #34AF56;
    border: 4px solid #34AF56;
}

.server__disagree__button{
    color: #c72323;
    border: 4px solid #c72323;
}

.server__agree__button:focus, .server__agree__button:hover{
    background-color: #34AF56;
    color: #fff;
    box-shadow: 0px 0px 10px #34AF56;
}

.server__disagree__button:focus, .server__disagree__button:hover{
    background-color: #c72323;
    color: #fff;
    box-shadow: 0px 0px 10px #c72323;
}

footer::before{
    width: 100%;
    border: 4px solid #292929;
    border-radius: 20px;

    margin-bottom: 20px;
    content: '';
    display: flex;
}

@media (max-width: 1200px) {
    .footer__body{
        max-width: 100vw;
        min-width: 830px;
    }
    footer::before{
        border-radius: 0px;
        width: 1200px;
    }

}

@media (max-width: 830px) {
    *{
        font-size: 1rem;
    }
    .footer__body{
        max-width: 100vw;
    }
    .footer__container{
        margin-bottom: 200px;
    }

    .footer__body{
        display: block;
    }
    
    .footer__title{
        max-width: 265px;
    }

    .signature__title{
        max-width: 85px;
    }
    .footer__links{
        margin-bottom: 100px;
    }

    .signature__text{
        font-size: 6vw;
    }

    .server__message__text, .question__text,
    .server__message__button{
        font-size: 25px;
        text-align: center;
    }
    .server__message__wrong,.server__message__correct,
    .server__message__choose{
        max-width: 95vw;
    }
}

@media (max-width:400px) {
    .server__message__button{
        height: 45px;
        width: 40vw;
    }

    .server__message__text, .question__text,
    .server__message__button{
        font-size: 20px;
    }
};


/* @media (max-width:500px) {
    *{
        font-size: 0.8rem;
    }
}

@media (max-width:350px) {
    *{
        font-size: 0.6rem;
    }
} */