    *{
        margin: 0;
        padding: 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: 25px;
    }

    body{
        background-color: #171717;
        color: white;
    }

/* container */
    .container{
        padding: 0px 200px;
        line-height: 2;
    }

/* header */
    header{
        padding: 10px 0px;
        display: flex;
        /* padding-left: 200px; */
        background-color: white;
        border-bottom: 2.5px solid white;
        max-height: 100px;
        height: 100%;
    }

/* header box */
    .headerBox{
        margin-right: 950px;
    }

    .headerBox, a, img{
        background-color: inherit;
    }

    .headerBox a{
        text-decoration: none;
    }

/* logo */
    #mainLogo{
        margin-right: 15px;
        max-width: 50px;
        max-height: 50px;
        background-color: #34AF56;
        border-radius: 50%;
    }

/* navbar */
    nav{        
        background-color: inherit;
    }

/* controlLink */
    .controlLink{
        color: black;
        padding: 5px;
        border-bottom: 5px solid white;
        transition: all 0.3s linear;
    };

    .controlLink:hover, .controlLink:focus{
        border-bottom: 3px solid #34AF56;
        text-shadow: 0px 0px 10px white;
        color: black;
    } 

    .action{
        border-radius: 0;
        border-bottom: 5px solid #34AF56;
        font-weight: 800;
        color: black;
    }

/* actionLink */
    .actionLink{
        margin-right: 10px;
        text-decoration: none;
        /* background-color: white; */
        /* padding: 0px 20px; */
        border-radius: 0px;
        color: black;
        transition: all 0.3s linear;
        border-bottom: 3px solid white;
    }

    .actionLink:hover{
        /* background-color: #38FD66; */
        color: black;
        border-bottom: 3px solid #34AF56;
        text-shadow: 0px 0px 10px white;
    }


/* profile */
    .toProfile{
        display: flex;
        padding: 2px 5px;
        cursor: pointer;
        border-bottom: 5px solid white;
        transition: all 0.1s linear;
    }

    .toProfile:hover, .toProfile:focus{
        border-bottom: 5px solid #34AF56;
    }

    .userIcon{
        max-width: 50px;
        max-height: 50px;
    }

    #profileName{
        color: black;
        margin-right: 20px;
    }

    .exitButton{
        text-decoration: none;
        color: black;
        transition: all 0.2s linear;
    }

    .exitButton:focus, .exitButton:hover{
        color: #34AF56;
    }
