    *{
        margin: 0;
        padding: 0;
        font-family: 'JetBrains Mono', monospace;

        font-weight: 500;
        font-size: 25px;
    }

    body{
        background-color: #171717;
        color: white;
    }

/* container */
    .container{
        width: 100%;
        max-width: 1500px;
        padding: 0px 10%;
    }

/* header */
    header{
        padding: 0.5% 0px;
        display: flex;
        background-color: white;

        border-bottom: 2.5px solid white;
        max-height: 100px;
        height: 55px;

        margin-bottom: 1.5%;
        width: 100%;
    }

/* header box */
    .headerBox{
        margin-right: auto;
        width: 100%;
        margin: auto 0;

        justify-content: space-between;
        display: flex;
    }

    .headerBox, a, img{
        background-color: inherit;
    }

    .headerBox a{
        text-decoration: none;
    }

/* logo */
    #mainLogo{
        max-height: 50px;
        max-width: 50px;
        background-color: #34AF56;

        border-radius: 50%;
        margin: auto 0;
        margin-right: 1%;
    }

/* navbar */
    nav{        
        background-color: inherit;
        width: 100%;
        margin: auto 0;

    }

/* controlLink */
    .controlLink{
        color: black;
        padding: 0.5%;
        border-bottom: 5px solid white;

        transition: all 0.3s linear;
    };

    .controlLink:hover, .controlLink:focus{
        border-bottom: 5px solid #34AF56;
        text-shadow: 0px 0px 10px white;
        color: black;
    } 

/* actionLink */
    .actionLink{
        margin-right: 10%;
        text-decoration: none;
        border-radius: 0px;

        color: black;
        border-bottom: 5px solid white;
    }

    .actionLink:hover{
        color: black;
    }


/* profile */
    .toProfile{
        display: flex;
        cursor: pointer;
        transition: all 0.1s ease;

        margin: auto 0;
        margin-right: 15%;
        padding: 0;
    }



    .toProfile p{
        margin: auto 0;
    }

    .userIcon{
        max-width: 50px;
        max-height: 50px;
    }

    #profileName{
        display: flex;
        color: black;
    }

    .exitButton{
        text-decoration: none;
        color: black;
        transition: all 0.2s linear;

        margin: auto 0;
    }

    .exitButton:focus, .exitButton:hover{
        color: #34AF56;
    }

.user__part{
    display: flex;
    margin: auto 0;
}

.control__row{
    min-width: 600px;
    width: 100%;
    display: flex;

    justify-content: space-between;
}

a, .toProfile{
    position: relative;
}


a::after, .toProfile::after{
    content: '';
    display: block;
    border: 3px solid #34AF56;

    opacity: 0;
    width: 0%;
    border-radius: 20px;
    
    position: absolute;
    /* max-width: 85px; */
    top: 100%;

    transition: width 0.5s linear 0s, opacity 0.5s linear 0.1s;    
}

.toProfile::after{
    max-width: 150px;
}

a:hover::after, .toProfile:hover::after{
    transition: width 0.5s linear 0s, opacity 0.5s linear 0s;    
    width: 95%;
    opacity: 1;
}

.action{
    font-weight: 800;
    color: #34AF56;
}

.for__two__items__style{
    max-width: 220px;
}

.for__three__items__style{
    max-width: 350px;
}