    *{
        margin: 0;
        padding: 0;
        font-family: 'JetBrains Mono', monospace;

        font-weight: 500;
        font-size: 1.25rem;
        box-sizing: border-box;
    }

    body,html{
        background-color: #171717;
        color: white;
        width: 100%;
    }

    html{
        position: relative;
        top: 0;
        left: 0;

        bottom: 0;
        right: 0;
        width: 100%;
    }

    /* container */
    .container, 
    .footer__container, 
    .header__container{
        padding: 0 5%;
        margin: 0 auto;
    }


    .container{
        max-width: 80vw;
    }

/* header */
    header{
        background-color: #171717;
        width: 100%;
        height: 100%;

        max-height: 55px;
        position: absolute;

        left: 0;
        top: 0;
    }

/* header box */
    .headerBox{
        margin-right: auto;
        width: 100%;
        margin: auto 0;

        justify-content: space-between;
        display: flex;
    }

    .headerBox, a, img{
        background-color: inherit;
    }

    .headerBox a{
        text-decoration: none;
    }

/* logo */
    #mainLogo{
        max-width: 60px;
        min-width: 50px;
        width: 100%;

        border-radius: 50%;
        margin: auto 0;
        margin-right: 2%;
    }

/* navbar */
    nav{        
        background-color: inherit;
        width: 100%;
        margin: auto 0;

        height: 100%;
        max-height: 70px;
        display: flex;

        justify-content: space-between;
    }

/* controlLink */
    .controlLink{
        color: #fff;
        padding: 0.5%;
        transition: all 0.3s linear;
    };



    .controlLink:hover, .controlLink:focus{
        border-bottom: 5px solid #34AF56;
        text-shadow: 0px 0px 10px white;
    } 

/* actionLink */
    .actionLink{
        margin-right: 10%;
        text-decoration: none;
        border-radius: 0px;

        color: #fff;
    }

/* profile */
    .toProfile{
        display: flex;
        cursor: pointer;
        transition: all 0.1s ease;

        margin: auto 0;
        margin-right: 15%;
        padding: 0;

        color: #fff;
        fill: #fff;
    }



    .toProfile p{
        margin: auto 0;
    }

    .userIcon{
        max-width: 50px;
        max-height: 50px;
        fill: inherit;
    }

    #profileName{
        display: flex;
        color: inherit;
    }

    .exitButton{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s linear;

        margin: auto 0;
        cursor: pointer;
    }

    .exitButton:focus, .exitButton:hover{
        color: #34AF56;
    }

.user__part{
    display: flex;
    margin: auto 0;
}

.control__row{
    min-width: 600px;
    width: 100%;
    display: flex;

    justify-content: space-between;
}

a, .toProfile{
    position: relative;
}


a::after, .toProfile::after{
    content: '';
    display: block;
    border: 3px solid #34AF56;

    opacity: 0;
    width: 0%;
    border-radius: 20px;
    
    position: absolute;
    top: 100%;

    transition: width 0.5s linear 0s, opacity 0.5s linear 0.1s;    
}

.toProfile:hover{
    color: #34AF56;
    fill: #34AF56;
}

a:hover::after, .toProfile:hover::after{
    transition: width 0.5s linear 0s, opacity 0.5s linear 0s;    
    width: 95%;
    opacity: 1;
}

.action{
    font-weight: 800;
    color: #34AF56;
}

.for__two__items__style{
    max-width: 240px;
}

.for__three__items__style{
    max-width: 350px;
}

.control__part{
    font-style: 25px;
    max-height: 200px;

    display: flex;
    margin: auto 0;
}

.header__container{
    height: 80px;
    position: relative;

    background-color: #292929;
    margin: 0;
    margin-bottom: 50px;

    padding: 0;
    width: 100%;

    min-width: 1200px;
}

.header__body{
    justify-content: space-between;
    display: flex;
    fill: #000;

    padding: 0 5%;
    padding-top: 15px;
}

.header__content{
    width: 100%;
    min-width: none;
}

@media (max-width:1200px){
    .container, .footer__container{
        max-width: 890px;
    }

    /* .header__body, header, .header__container{
        max-width: 1000px;
    } */
    .header__container{
        min-width: none;
    }
}
/* 
@media (max-width:992px) {
    .container, .footer__container, .header__container{
        max-width: none;
        background-color: green;
    }
    nav{
        justify-content: none;
    }
}

@media (max-width:770px) {
    .container{
        max-width: none;
        background-color: red;
    }
} */
