/* text */
.title{
    font-size: 3rem;
    color: #34AF56;
    margin-bottom: 35px;

    position: relative;
    max-width: 140px;
    width: 100%;

    font-weight: 700;
}

.title::after{
    content: '';
    display: block;
    border: 4px solid #34AF56;

    border-radius: 20px;
    width: 0%;
    opacity: 0;

    animation: title__after 1.5s 1 forwards ease 0.7s;
}

@keyframes title__after {
    from{
        opacity: 0;
        width: 0;
    }
    to{
        opacity: 1;
        width: 100%;
    }
}

p{
    font-size: 2rem;
}

/* input */
input{
    border-radius: 20px;
    padding: 0.5% 2%;
    border: 4px solid #34AF56;

    outline: none;
    transition: border 0.3s linear;
    position: relative;

    font-size: 1.5rem;
    width: 100%;
    max-width: 430px;
}

input:focus{
    box-shadow: 0px 0px 10px #34AF56;
}



/* submit */
[name="submit"]{
    border-radius: 20px;
    border: 2px solid #34AF56;
    padding: 0.5% 0.8%;

    cursor: pointer;
    transition: all 0.3s linear;
    background-color: #34AF56;

    transition: all 1s ease 0s;
    opacity: 0;
    visibility: hidden;

    width: 100%;
    max-width: 200px;
    height: 100%;

    max-height: 100px;
    min-height: 40px;
}


[name="submit"]:hover, [name="submit"]:focus{
    color:#fff;
    box-shadow: 0px 0px 10px #34AF56;
}

.form__body{
    max-width: 500px;
    width: 100%;
    margin-bottom: 40px;
}


section[for="login"]{
    margin-bottom: 35px;
}

.submit__correct{
    transition: all 1s ease 0s;
    animation: enter__submit__button 1s 1 forwards ease 0s;
}

.submit__incorrect{
    transition: all 1s ease 0s;
    animation: exit__submit__button 1s 1 forwards ease 0s;
}


@keyframes enter__submit__button {
    from {
        transform: translate(-200%, 0%);
        opacity: 0;
        visibility: hidden;    
    }
    to {
        transform: translate(0%, 0%);
        opacity: 1;
        visibility: visible;    
    }
}

@keyframes exit__submit__button {
    from{
        transform: translate(0%, 0%);
        opacity: 1;
        visibility: visible;
    }
    to{
        transform: translate(-200%, 0%);
        opacity: 0;
        visibility: hidden;
    }
}

.incorrect__area{
    border-color: rgb(179, 18, 18);
    box-shadow: none;
}

.incorrect__area:focus{
    box-shadow: 0px 0px 10px rgb(179, 18, 18);
    border: 4px solid rgb(179, 18, 18);
}

section{
    width: 100%;
    max-width: 400px;
}
