.dataSection{
    display: flex;
    padding-left: 50px;
    align-items: center;
}

.pageData{
    font-size: 60px;
}

.mainData{
    font-size: 40px;
}

.titleData{
    font-size: 30px;
    margin-right: 20px;
    color: #34AF56;
}

.warningMessage{
    font-size: 40px;
}
