.dataSection{
    display: flex;
    padding-left: 2%;
    justify-content: space-between;

    margin-bottom: 30px;
}

.pageData{
    font-size: 60px;
    color: #34AF56;
    margin-bottom: 2%;
    
    font-weight: 700;
    width: 100%;
    max-width: 250px;
}

.pageData::after{
    content: '';
    display: block;
    border: 4px solid #34AF56;

    border-radius: 20px;
    width: 0%;
    opacity: 0;

    visibility: hidden;
    animation: pageData__after__begin 2s 1 forwards ease 1s;
}

@keyframes pageData__after__begin {
    from{
        opacity: 0;
        visibility: hidden;
        width: 0%;
    }
    to {
        opacity: 1;
        visibility: visible;
        width: 100%;
    }
}



.mainData{
    font-size: 40px;
}

.titleData{
    font-size: 35px;
    color: #34AF56;
}

.warningMessage{
    font-size: 40px;
}

/* changeForm */
input, .changeButton, .backButton, .deleteButton{
    border-radius: 20px;
    padding: 0 1%;
    border: 4px solid #34AF56;

    outline: none;
    transition: border 0.3s linear;
    font-size: 1.4rem;
}

.changeButton, .backButton, .deleteButton{
    max-width: 250px;
}

.dataSection input{
    max-height: 50px;
}

input:focus{
    box-shadow: 0px 0px 10px #34AF56;
    border: 4px solid #34AF56;
}

[name="submitButton"], .backButton, .changeButton, .deleteButton{
    padding: 1.5% 5%;
    cursor: pointer;
    transition: all 0.3s linear;
    background-color: #34AF56;
}

[name="submitButton"], .backButton{
    padding: 1% 2%;
}

[name="submitButton"]:hover, [name="submitButton"]:focus,
.changeButton:hover, .changeButton:focus, .backButton:hover,
.backButton:focus{
    color: #fff;
    box-shadow: 0px 0px 10px #34AF56;
}

.backButton, .changeButton{
    margin-right: 20px;
}

.deleteButton{
    background-color: inherit;
    border: 3px solid #c72323;
    color: #c72323
}

.deleteButton:hover, .deleteButton:focus{
    box-shadow: 0px 0px 10px #c72323;
    text-shadow: 0px 0px 10px #c72323;
}

.horizontalLine{
    margin-bottom: 3%;
    border: 4px solid #34AF56;
    border-radius: 5px;

    width: 0%;
    opacity: 0;
    
    transition: all 3s ease 1s;
    animation: hr__begin 2s 1 forwards ease 1s;
}

@keyframes hr__begin {
    from {
        opacity: 0;
        width: 0%;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

.contentData{
    font-size: 35px;
}

.userData{
    max-width: 800px;
    width: 100%;
}

@media (max-width:600px) {
    .dataSection{
        display: block;
    }
    .userData{
        max-width: 400px;
    }
}

@media (max-width:450px) {
    .dataSection p, .dataSection input {
        font-size: 7vw;
    }

    .dataSection input{
        max-width: 80vw;
    }

    .changeButton,.backButton{
        margin-bottom: 20px;
    }
}