/* text */
.regTitle{
    font-size: 60px;
    text-decoration: underline;
    color: #34AF56;
}

p{
    margin-left: 20px;
}

/* input */
input{
    border-radius: 20px;
    padding: 2px 10px;
    border: 3px solid #34AF56;
    outline: none;
    transition: border 0.3s linear;
}

input:focus{
    box-shadow: 0px 0px 10px #34AF56;
    border: 3px solid #34AF56;
}

input[type="file"]{
    border-radius: 0;
    border: none;
}

/* btn */
.btnForm{
    cursor: pointer;
    border-radius: 20px;
    padding: 2px 6px;
    outline: none;
    transition: all 0.3s linear;
}

.btnForm:hover{
    background-color: #34AF56;
}

/* */
    label{
        display: block;
        margin-left: 20px;
    }

#submit{
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s linear;
    background-color: #34AF56;
}

#submit:hover{
    box-shadow: 0px 0px 10px #34AF56;
}

